@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

::-webkit-scrollbar{
  display: none;
}

#pageHeader{
  width: 100%;
  height: 200px;
  background-image: url('../public/sawah.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero{
  width: 100%;
  height: 500px;
  background-image: url('../public/kantor-desa.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}